Host bastion
  User ubuntu
  HostName entrypoint.build-ops.out.accuenplatform.com
  IdentityFile ~/.ssh/entrypoint 
  StrictHostKeyChecking no

Host 10.*
  User ubuntu
  #HostName clonetest.build-ops.out.accuenplatform.com
  IdentityFile ~/.ssh/database
  ForwardAgent yes
  ProxyJump bastion
  StrictHostKeyChecking no
